.color-header-pie{
    top: 0;
    background: rgba(26, 24, 22, 0.85);
}

.color {
    background-color: #f8f9fa !important;
}

.padding {
    padding: 7rem 0 !important;
}

.text{
    color: #6c757d !important;
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fondo1{
    background-image:url(/imagen/fondo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
}

.fondo2{
    background-image:url(/imagen/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
}

